body{
    margin:0;
}
header{
    background-color:#444;
    color: white;
    padding:10px;
   
}
header i{
    color:white;
}
header *{
    display:inline;
    height:30px;
    
    
}

header{
    display:flex;
    justify-content:space-between;
    padding:10px 20px;
    align-items:center;
}
#search{
    margin-left:0;
}

#voice{
    border-radius:50%;
    border:1px solid #333; 
}

/*main content styling */

main{
    
    width:80%;
    margin:auto;
    margin-top:20px;
    display:flex;

}

/*vide player part */
#videocontent{
    flex:2;
}

#videocontent article{
    width:90%;
}

.video{
    display:flex;
    flex-direction: column;
}

.options{
    display: flex;
    justify-content: space-between;
}

i{
    margin-left:5px;
}
.channel{
    border-top:2px solid grey;
    border-bottom: 2px solid grey;
    margin:20px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.profile-pic{
    width:50px;
    height:50px;
    border-radius:50%;
}
.subscribe{
    background-color: red;
    color:white;
    border-radius:5px;
    padding:20x;
    border:1px solid white;
    height:30px;
}
iframe{
    height:500px;
}

.comment{
    display:flex;
    justify-content: start;
    margin-bottom:10px;
    width:100%;
}

.comment .profile{
    flex:1;
    padding-right:0px;
    text-align: center;
}
.comment div{
    flex:9;
}
.comment div img{
    
    width:40px;
    height:40px;
    
    margin:5px;
    margin-left:auto;
    margin-right:5px;
    

}


#thumbnail{
    flex:1;
}

#thumbnail article{
    display:flex;
    width:100%;
    margin-bottom: 20px;

}
article img{
    width:40%;
}

h3,h5{
    margin:0px;
}
p{
    margin:0px;
}
.comment div{
   margin-left:10px;
}

footer{
    text-align:center;
    background-color:#333;
    color:white;
    padding:10px;

}

.logo-design{
    background-color:green;
    width:30px;
    height:30px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-radius:50%;
    margin:auto;
    
    
}

a{
    color:black;
}

@media screen and (max-width:800px){
   /* #thumbnail{
        display:none;
        flex:0;
    }
    #videocontent{
        flex:1;
        width:100%;
    }*/
    main{
        flex-direction:column;
    }
    .comments{
        display:none;
    }
    iframe{
        height:300px;

    }
    #videocontent article{
        width:100%;
    }
    #voice{
        display:none;
    }
    #search{
        margin-left:0px;
    }
    .fa-th,.fa-bell{
        display:none
    }
    .options{
        flex-direction:column;
    }
    .youtube-logo h2,sup{
        display:none;
    }
}

@media screen and (max-width:400px){
    #search{
        display:none;
        
    }
    .fa-bars{
        display:none;
    }
}